# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Virtual environments
.venv/
env/
venv/

# VS Code settings
.vscode/

# macOS / Windows
.DS_Store
Thumbs.db

# Pyproject lock
poetry.lock
pyproject.lock

# Jupyter Checkpoints 
.ipynb_checkpoints/

# folder  data
data/
